// @import 'polished';

$color-accent: #D58D44;
$color-light-accent: #F3AD61;
$color-additional: #e28743;
$color-yellow: #f6da6e;
$color-light-yellow: #f4dd87;
$color-violet: #c88ffa;
$color-red: #ff4861;
$color-dark-red: #721c24;
$color-light-red: #f88e7d;
$color-very-light-red: #f8d7da;
$color-blue: #70bbfd;
$color-light-blue: #87c3f7;
$color-black: #000000;
$color-gray: #787985;
$color-light-gray: #d8dfe9;
$color-dusty-white: #dddddd;
$color-white: #ffffff;
$color-green: #b8e986;
$color-dark-fields-border: #33333a;
$color-light-text: #646777;
$landing-light-text-color: #DDDDDD;
$landing-dark-text-color: #C7CCCF;
$landing-green-color: #53C8B7;
$landing-background: #16161C;
$landing-accent-color: #244153;
$landing-button-color: #2C86A2;
$landing-saffron-color: #ffde2c;
$landing-gradient: linear-gradient(228deg, rgba(127, 244, 222, 0.95), rgba(56, 199, 225, 1));
$landing-gradient-btn: linear-gradient(139.48deg, #FEA63E 6.99%, #F03131 53.88%, #ED05AC 99.96%);

$process-env-public-url: 'localhost';

@mixin theme($property, $light-value, $dark-value) {
  .light-mode {
    #{$property}: $light-value;
  }

  .dark-mode {
    #{$property}: $dark-value;
  }
}

@mixin scrollbar-styles {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    opacity: 0.3;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
  }

  .light-mode &::-webkit-scrollbar-thumb {
    background-color: darken($color-scrollbar, 0.1);
  }

  .dark-mode &::-webkit-scrollbar-thumb {
    background-color: lighten($color-scrollbar, 0.1);
  }
}

@include theme('color-background', 'white', #232329);
@include theme('color-background-body', #f2f4f7, #2a2a31);
// ... Add the rest of the theme properties in the same format as above

$color-accent-hover: darken($color-accent, 0.1);
$color-additional-hover: darken($color-additional, 0.1);
$color-yellow-hover: darken($color-yellow, 0.1);
$color-red-hover: darken($color-red, 0.1);
$color-blue-hover: darken($color-blue, 0.1);
$color-green-hover: darken($color-green, 0.1);
$landing-gradient-color: linear-gradient(228deg, darken(rgba(127, 244, 222, 0.95), 5%), darken(rgba(56, 199, 225, 1), 5%));
$landing-gradient-btn-hover: linear-gradient(228deg, darken(rgb(127, 244, 222), 5%), darken(rgb(62, 59, 224), 5%));

// Add the rest of the theme properties in the same format as above
@include theme('inbox-button-background', #f2f4f7, #2a2a31);
@include theme('inbox-button-background-hover', darken( #f2f4f7, 0.05), lighten(#2a2a31,0.05));
@include theme('color-header-data-picker', #6db0ff, #063263);
@include theme('color-text', #646777, #dddddd);
@include theme('color-dark-text', #555555, #dddddd);
@include theme('color-text-additional', #646777, #999999);
@include theme('logo-img', "url(#{$process-env-public-url}/img/logo/logo_light.svg)", "url(#{$process-env-public-url}/img/logo/logo_dark.svg)");
@include theme('color-hover', #fafbfe, #38373f);
@include theme('color-folder-hover', #f0eeee, #ffffff1A);
@include theme('color-border', #eff1f5, #333246);
@include theme('color-icon', #dddddd, #605f7b);
@include theme('img-invert', 'invert(0%)', 'invert(100%)');
@include theme('color-fields-border', #f2f4f7, #33333a);
@include theme('color-bubble', 'rgba(242, 244, 247, 0.65)', 'rgba(68, 79, 97, 0.65)');
@include theme('color-bubble-active', 'rgba(234, 238, 255, 0.6)', 'rgba(92, 104, 156, 0.6)');
@include theme('color-scrollbar', #B4BFD0, #606071);
@include theme('color-fitness', #646777, #ffffff);
@include theme('color-emoji', #232329, #ffffff);
@include theme('sidebar-color', 'aliceblue', #232329);
@include theme('color-black-background', #232329, #16161C);

